html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
  color: #4a4a4a;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

header{
  padding: 10px;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  font-size: 1.5rem;
}

body > header{
  background:#eee;
}

a:link{
  color: #3273dc;
}

a:visited{

}

a:hover{
  color: #333;
}

a:target{

}

footer{

}

hr{
  border: 1px solid #eee;
}

article{
  margin: 10px;
  border: 1px solid #ccc;
}

article > header{
  background: #eee;
}

main{
  margin: 20px;
}

section{

}

h1{

}

h2{

}

h3{

}

h4{

}

h5{

}

p{
  margin: 1em 0;
}

ol{

}

ul, ol{
  list-style: disc outside;
  margin-left: 2em;
  margin-top: 1em;
}

dl{

}

dt{

}

dd{

}

blockquote{

}

code{

}

pre{

}