body{
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

header{
  padding: 10px;
  border-bottom: 1px dashed #333;
}

a:link{
  color: #00317b;
  text-decoration-style: dashed;
}

a:visited{

}

a:hover{
  color: #333;
}

a:target{

}

footer{

}

article{
  margin: 10px;
}

section{

}

h1{

}

h2{

}

h3{

}

h4{

}

h5{

}

p{

}

ol{

}

ul{

}

dl{

}

dt{

}

dd{

}

blockquote{

}